body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Flash Card Dialog*/
fieldset {
  border: 0;
}

#termQuestionField,
#answerDefinitionField {
  display: flex;
  flex-direction: column;
}

#flashCardForm .container {
  display: flex;
  justify-content: space-between;
}
